<div class="container">

  <div>
    <h1>Venezuela moderna o muerta</h1>
    <h3>Una visión para hacer florecer nuestro país</h3>
  </div>

   <div>
    <img alt="Portada"
    width="200"
    src="/assets/portada.jpeg" />
  </div>

  <div>
    <p>Descargar App de Kindle:</p>
    <a class="btn btn-gradient" href="#">Android</a>
    <a class="btn btn-gradient" href="#">IOS</a>
  </div>

  <div>
    <a class="btn btn-gradient" href="#">Amazon USA</a>
    <a class="btn btn-gradient" href="#">Amazon Brasil</a>
    <a class="btn btn-gradient" href="#">Amazon México</a>
    <a class="btn btn-gradient" href="#">Amazon España</a>
  </div>

  <div>
   <h4>Sinópsis</h4>
   <p>
     Gracias al coronavirus, como humanidad, nos hemos dado cuenta de que estamos, y estábamos,  en la orilla del precipicio, y no solo desde el punto de vista sanitario. Una crisis como la actual, y su consecuencias, era impredecible. Sin embargo, las llamadas de alerta ya existían, especialmente en el aspecto ambiental y económico.<br></br>
    Esta última área constituye la base de este libro, mientras que el hilo conductor es una historia que hace referencia a un escenario previo a la aparición del virus y sus repercusiones.<br></br>
    La protagonista se llama Dominique, una millenial estadounidense, cuya vida era perfecta, casi envidiable, hasta que fue amenazada por un evento inesperado, que ninguno vio venir.<br></br>
    Mientras, a miles de kilómetros, un lugar antes gobernado por “cerdos orwellianos” renacía de entre sus cenizas. Después de más de veinte años bajo un régimen totalitarista, sin llorar por la leche derramada y con las mangas arremangadas, la ciudadanía había empezado a trabajar allí donde se encontraba: el punto más bajo de su historia republicana.<br></br>
    "Venezuela: moderna o muerta. Una visión para hacer florecer nuestro país” propone un modelo de nación donde cada ciudadano parte de sí, de su jardín personal, para hacer que donde antes hubo malezas y excrementos tenga lugar la transformación anhelada por millones de venezolanos.<br></br>
    Pero no hay que dejarse engañar. Si bien el título de la obra oscila entre lo apocalíptico y lo hippy, está muy lejos de la retórica. La invitación tampoco es al "buenismo" ni a nada que se le parezca. Todo lo contrario. El interés personal es puesto en primer lugar bajo una óptica de "sano egoísmo", que se traduce en una dinámica de "ganar-ganar".<br></br>
    Este libro presenta propuestas concretas y factibles, no fórmulas mágicas epidérmicas y cortoplacista, en muchas áreas (política, economía, educación, salud, ecología, trabajo, comercio y consumo), al tiempo que va a la médula: los valores que por décadas, sino siglos, han hecho que  tomar el atajo sea una opción más atractiva.<br></br>
    Con un lenguaje sencillo y un tono dinámico, Andrés Hernández narra el cambio personal de la protagonista, al tiempo que presenta información sólida para entender de dónde se viene y adónde se quiere llegar como país. El mensaje es claro: los errores del pasado pueden ser el estiércol necesario para el florecimiento, de cara al futuro, y para construir una Venezuela que esté a la altura de esas que serán las condiciones de la aldea global dentro de veinte años.<br></br>
   </p>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
